.banner {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}
.upper-banner {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.upper-banner a {
  padding-right: 20px;
  font-size: 14px;
}
.lower-banner {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
}
.left-panel {
  width: 65%;
  padding: 2px;
  margin-left: 10px;
}
.upper-left-section {
  width: 98%;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.project-selection {
  width: 58%;
  margin-top: 5px;
  margin-left: 10px;
  min-height: 100px;
}
.project-selection form {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.project-selection form label {
  font-size: 16px;
}
.project-selection form select {
  width: 90%;
  height: 30px;
}
.wireframes {
  width: 37%;
  margin-top: 5px;
  margin-left: 10px;
  min-height: 100px;
  text-align: center;
  padding: 5px;
}
.lower-left-section {
  width: 98%;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.user-stories {
  width: 98%;
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  text-align: center;
  padding: 5px;
}
.user-stories .user-story-item {
  width: 96%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
}
.right-panel {
  width: 32%;
  padding: 2px;
  margin-left: 10px;
}
.task-list {
  width: 98%;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
.task-list .task-list-item {
  width: 95%;
  height: 60px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
}
:host(.dashboardContainer) {
  display: inline-block;
  width: 100%;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}
:host(.dashboardContainer.ng-enter) {
  transform: translateX(100%);
}
:host(.dashboardContainer.ng-enter-active) {
  transform: translateX(0);
}
